{% include "header.html" %}

<main id="main">

    <!-- About Section Start -->
    <section id="about">
        <div class="container">
            <div class="section-header">
                <h3>About Us</h3>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/about.jpg" alt="About Image" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>Who We Are</h2>
                        <p>
                            We are a trusted healthcare service provider offering personalized,
                            affordable, and high-quality medical services. Our goal is to ensure the 
                            well-being of individuals and families through our advanced facilities 
                            and dedicated medical staff.
                        </p>

                        <h2>Our Mission</h2>
                        <p>
                            Our mission is to provide reliable healthcare solutions, improve patient
                            experience, and ensure access to essential medical services for everyone.
                        </p>

                        <ul>
                            <li><i class="fa fa-check-circle"></i> Qualified Doctors</li>
                            <li><i class="fa fa-check-circle"></i> 24/7 Emergency Support</li>
                            <li><i class="fa fa-check-circle"></i> Home Visit Facility</li>
                            <li><i class="fa fa-check-circle"></i> Affordable Services</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- About Section End -->


    <!-- Why Choose Us Section Start -->
    <section id="why-us">
        <div class="container">
            <div class="section-header">
                <h3>Why Choose Us</h3>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="why-item">
                        <i class="fa fa-user-md"></i>
                        <h4>Expert Doctors</h4>
                        <p>Our team consists of highly experienced medical professionals.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="why-item">
                        <i class="fa fa-ambulance"></i>
                        <h4>Emergency Services</h4>
                        <p>We provide 24/7 support for all kinds of emergencies.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="why-item">
                        <i class="fa fa-heartbeat"></i>
                        <h4>Advanced Equipment</h4>
                        <p>We use modern and accurate healthcare technologies.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose Us Section End -->


    {% include "footer.html" %}

</main>

<!-- Footer Start -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            <p>&copy; Copyright <a href="#">Your Site Name</a>. All Rights Reserved</p>
            <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
</footer>
<!-- Footer End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery/jquery-migrate.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/easing/easing.min.js"></script>
<script src="vendor/stickyjs/sticky.js"></script>
<script src="vendor/superfish/hoverIntent.js"></script>
<script src="vendor/superfish/superfish.min.js"></script>
<script src="vendor/owlcarousel/owl.carousel.min.js"></script>
<script src="vendor/touchSwipe/jquery.touchSwipe.min.js"></script>

<!-- Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
