{% load static %}
{% include "header.html" %}

<main id="main">

    <!-- About Section Start-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="about-col-left">
                        <img class="img-fluid" src="{% static 'img/about-us.jpg' %}" />
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-col-right">
                        <header class="section-header">
                            <h3>About Dr. Johnson</h3>
                        </header>
                        <ul class="icon">
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-pinterest"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <p>
                            Aliquam ut nibh ut lacus posuere facilisis.
                        </p>
                        <a href="{% url 'about' %}">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End-->

    <!-- Contact Section Start -->
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h3>Contact Us</h3>
            </div>

            <div class="row">
                <!-- LEFT SIDE -->
                <div class="col-md-6">
                    <div class="contact-detail">
                        <div class="contact-hours">
                            <h4>Opening Hours</h4>
                            <p>Monday-Friday: 9am to 7pm</p>
                            <p>Saturday: 9am to 4pm</p>
                            <p>Sunday: Closed</p>
                        </div>

                        <div class="contact-info">
                            <h4>Contact Info</h4>
                            <p>4137 State Street, CA, USA</p>
                            <p><a href="tel:+1-234-567-8900">+1-234-567-8900</a></p>
                            <p><a href="mailto:tamanna123@gmail.com">tamanna123@gmail.com</a></p>
                        </div>
                    </div>
                </div>

                <!-- RIGHT SIDE FORM -->
                <div class="col-md-6">
                    <div class="contact-form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="Username" class="form-control"
                                           placeholder="Your Name" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="UserEmail" class="form-control"
                                           placeholder="Your Email" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Usersubject" class="form-control"
                                       placeholder="Subject" required />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="Usermessage"
                                          rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div>
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- GOOGLE MAP -->
            <div class="row mt-4">
                <div class="col-12">
                    <iframe
                        src="https://www.google.com/maps?q=New%20York&output=embed"
                        width="100%" height="300"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy">
                    </iframe>
                </div>
            </div>

        </div>
    </section>
    <!-- Contact end -->

    <!-- Subscriber Section -->
    <section id="subscriber">
        <div class="container">
            <h3>Get Free Consultation</h3>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="UserEmail" class="form-control"
                           placeholder="Your Email Goes Here">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </section>

    <!-- Support Section -->
    <section id="support">
        <div class="container">
            <h1>
                Need help? Call me 24/7 at +1-234-567-8900
            </h1>
        </div>
    </section>

</main>

{% include "footer.html" %}

        